<div style="padding-left: 100px;">
    <h1> Add Admins</h1>

    <form [formGroup]="adminsForm" (ngSubmit)="saveAdmin()" >
        <div>
          <label for="title">Name:</label>
          <input type="text" id="title" formControlName="name" />
        </div>
        <div>
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName="username" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="text" id="password" formControlName="password" />
        </div>
        <button type="submit">Save</button>
      </form>
</div>

<h3> Form status: {{adminsForm.valid}}</h3>
<h3> Form json: {{adminsForm.value | json}}</h3>