<h1 [ngClass]="isGreen? 'title-green':'title-red'">{{title}}</h1>

<h2 *ngIf="loans.length<1">No Data</h2>
<div style="margin: 20px; float:right">
  <button class="button" (click)="addLoans()"> Add Loans</button>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>BookID</th>
      <th>StudentID</th>
      <th>CheckOutDate</th>
      <th>DueDate</th>
      <th>ReturnDate</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="loans.length > 0">
    <tr *ngFor="let loan of loans">
      <td>{{loan.id}}</td>
      <td>{{loan.bookId}}</td>
      <td>{{loan.studentId}}</td>
      <td>{{loan.checkoutDate}}</td>
      <td>{{loan.dueDate}}</td>
      <td>{{loan.returnDate}}</td>
      <td>
        <button (click)="deleteLoan(loan.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>