<div style="padding-left: 100px;">
    <h1> Add Students</h1>

    <form [formGroup]="studentsForm" (ngSubmit)="saveStudent()" >
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div>
          <label for="department">Department:</label>
          <input type="text" id="department" formControlName="dept" />
        </div>
        <div>
          <label for="rollnumber">Roll Number:</label>
          <input type="text" id="rollnumber" formControlName="rollNumber" />
        </div>
        <div>
          <label for="mobileno">Mobile No:</label>
          <input type="text" id="mobileno" formControlName="mobileNo" />
        </div>
        <div>
          <label for="birthdate">Birth Date:</label>
          <input type="text" id="birthdate" formControlName="birthDate" />
        </div>
        <button type="submit">Save</button>
      </form>
</div>

<h3> Form status: {{studentsForm.valid}}</h3>
<h3> Form json: {{studentsForm.value | json}}</h3>